.body{font-size: 15px; font-family: strong;}
.quan{width: 1687px;margin:0;padding:0;}
.shang{background-color:#EEEEEE;height:30px;width: 1687px;}
.shang a{
	line-height: 30px;
}
.sl{margin-left: 300px}
.sr{margin-left: 300px;}
.banner{}